<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.itk_project.mapper.MemberMapper">
   
    <!-- 회원가입  -->
	<insert id="joinMember" >
		insert into member values(mem_seq.nextval,#{member_id},#{member_pw},#{member_name},0,'y')
	</insert>
	
	<!--로그인  -->
	<select id="loginMember" resultType="com.site.itk_project.vo.MemberVo">
		select * from member where member_id = #{member_id} and member_pw = #{member_pw}
	</select>
</mapper>